<div class="">


    <div class="carrusel" id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <!-- PRIMER CARRUSEL -->
            <div class="carousel-item active">
                <div class="row">
                    <div class="col">
                        <a href="/watch-show"><img class="" src="{{relojes[0].imagen}}" class="d-block w-100"
                                alt="..."></a>
                    </div>
                    <div class="col">
                        <a href="/watch-show"><img class="" src="{{relojes[1].imagen}}" class="d-block w-100"
                                alt="..."></a>
                    </div>
                    <div class="col">
                        <a href="/watch-show"><img class="" src="{{relojes[2].imagen}}" class="d-block w-100"
                                alt="..."></a>
                    </div>
                </div>

                <!-- SEGUNDO CARRUSEL -->


            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col">

                        <a href="/watch-show"><img class="" src="{{relojes[3].imagen}}" class="d-block w-100"
                                alt="..."></a>
                    </div>
                    <div class="col">

                        <a href="/watch-show"><img class="" src="{{relojes[4].imagen}}" class="d-block w-100"
                                alt="..."></a>
                    </div>
                    <div class="col">

                        <a href="/watch-show"><img class="" src="{{relojes[5].imagen}}" class="d-block w-100"
                                alt="..."></a>
                    </div>

                </div>



            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col">

                        <a href="/watch-show"><img class="" src="{{relojes[6].imagen}}" class="d-block w-100"
                                alt="..."></a>
                    </div>
                    <div class="col">

                        <a href="/watch-show"><img class="" src="{{relojes[7].imagen}}" class="d-block w-100"
                                alt="..."></a>
                    </div>
                    <div class="col">

                        <a href="/watch-show"><img class="" src="{{relojes[8].imagen}}" class="d-block w-100"
                                alt="..."></a>
                    </div>

                </div>



            </div>


            <!-- <div class="carousel-item">
                <img src="https://cdn.watchbase.com/watch/lg/origin:jpg/longines/dolcevita/l5-767-4-73-3-b0.webp"
                    class="d-block w-100" alt="...">
            </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <!-- <div class="carrusel">
        <div class="prev"><button>Prev</button></div>
        <div class="imagen1"></div>
        <div class="imagen2"></div>
        <div class="imagen3"></div>
        <div class="next"><button>Next</button></div>
    </div> -->
</div>