*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--color:#011f4b;
}

.carrusel{
	margin: 0 auto;
	margin-top: 20px;
	margin: 0 30px;
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
	border: 3px solid var(--color);
	justify-content: space-around;
	height: 250px;
	
}

button{
	width: 150px;
	margin-top: 115px;
	background-color: var(--color);
	color: white;
}

.imagen1{
	width: 150px;
	height: 220px;
	background: url(../../../assets/img/jaeger-reverso.webp.jpg) no-repeat center center/cover;
}

.imagen2{
		width: 150px;
	height: 220px;
	background: url(../../../assets/img/omega.webp) no-repeat center center/cover;
}

.imagen3{
		width: 150px;
	height: 220px;
	background: url(../../../assets/img/breitling.webp) no-repeat center center/cover;
}