*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.carrusel{
	margin: 0 auto;
	width: 1500px;
	display: flex;
	flex-wrap: wrap;
	border: 3px solid black;
	justify-content: space-around;
	height: 250px;
}

button{
	width: 150px;
	margin-top: 115px;
}

.imagen1{
	background: url(../../../assets/img/jaeger-reverso.webp.jpg) no-repeat center center/cover;
}

.imagen2{
	background: url(../../../assets/img/omega.webp) no-repeat center center/cover;
}

.imagen3{
	background: url(../../../assets/img/breitling.webp) no-repeat center center/cover;
}