<!-- <div>
    <h1>Estás en la sección Saludos, preséntate aquí.</h1>
</div> -->

<div id="wrapper">
    <div id="content-wrapper">
        <div id="content">
            <div class="next"><button>Publicar Nuevo Hilo</button></div>
            <h3>Estás en la sección Saludos, preséntate aquí.</h3>
            <dl>
                <article>
                    <a href="">

                        <h4>Hola, me llamo Harry</h4>
                    </a>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut placeat praesentium consequatur
                        est vero tempore laboriosam omnis odit sed.</span>


                </article>
                <hr>
                <article>
                    <a href="">

                        <h4>Hola, yo no me llamo Harry</h4>
                    </a>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut placeat praesentium .</span>


                </article>
                <hr>
                <article>
                    <a href="">

                        <h4>Hola, yo tampoco me llamo Harry</h4>
                    </a>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut .</span>


                </article>
                <hr>
            </dl>



        </div>
    </div>

</div>