<div id="wrapper">
    <div id="content-wrapper">
        <div id="content">
            <div class="next"><button>Publicar Nuevo Hilo</button></div>
            <h3>¿Tienes alguna duda/consulta sobre relojes?. Esta es tu sección.</h3>
            <dl>
                <article>
                    <a href="">

<div id="wrapper">
    <div id="content-wrapper">
        <div id="content">
            <div class="next"><button>Publicar Nuevo Hilo</button></div>
            <h3>Estás en la sección Duda, postea aquí.</h3>
            <div *ngFor="let post of posts">
                <p>{{post.titulo}}</p>
                <p>{{post.descripcion}}</p>
            </div>
            <hr>
        </div>
    </div>
</div>
                        <h4>Hola, me llamo Mario y me gustaría entender algo sobre relojes.</h4>
                    </a>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut placeat praesentium .</span>


                </article>
                <hr>
                <article>
                    <a href="">

                        <h4>Hola, yo no me llamo Mario</h4>
                    </a>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi iusto praesentium, ab ex
                        vitae corporis, perspiciatis modi, sapiente consequuntur velit porro saepe est! Cum doloremque
                        eaque amet similique velit rerum..</span>


                </article>
                <hr>
                <article>
                    <a href="">

                        <h4>Yo tampoco me llamo Mario</h4>
                    </a>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut .</span>


                </article>
                <hr>
            </dl>



        </div>
    </div>

</div>