<div id="wrapper">
    <div id="content-wrapper">
        <div id="content">
            <div class="next"><button>Publicar Nuevo Hilo</button></div>
            <h3>Love is in the air?. Presentanos a tu nuevo reloj.</h3>
            <dl>
                <article *ngFor="let post of posts">
                    <a href="">
                        <h4>{{post.titulo}}</h4>
                    </a>
                    <span>{{post.descripcion}}</span>
                </article>
            </dl>
        </div>
    </div>
</div>