*{
	font-family: Georgia, 'Times New Roman', Times, serif;
}
html
{
	margin: 0;
	padding: 0;
	color: #aaaaaa;
	background-color: #333333;
	font: normal 12px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
	--color:#011f4b;
}

/* Links */

a:link { text-decoration: none; color: #7799bb; }

a:visited { text-decoration: none; color: #557799; }

a:hover, a:active { color: white;  }

#sidebar li a:hover{
font-size: 18px;
}

/* Html Elements */

h1, h2, h3, h4, h5, h6 { 
    font-weight: normal; 
    margin: 0; 
    padding: 10px 0;
    padding-left: 10px; 
    color: white;
background-color:var(--color); }

h1 { font-size: 32px; }

h2 { font-size: 28px; }

h3 { font-size: 24px; }

h4 { font-size: 20px; }

h5, h6 { font-size: 17px; }

ul, ol, dl, blockquote, pre
{
	color: white;
	
	padding: 10px 30px; 
	line-height: 1.6em;
	border: 1px solid #1a1a1a;
	border-top: 10px solid #151515;
	background: #404040 url(/instawatch/src/assets/img/navigation_hover.gif) top left repeat;
	
}

p { margin: 0; }

ul { list-style-type: square; } 

dt
{
	margin: 0;
	color: #7799bb;
	font-size: 15px; 
	font-weight: bold;
	padding: 10px 0 2px; 
	
}

dd { margin: 0; padding: 2px 0 0px; margin-bottom: 5px; border-bottom: 1px dotted #555555; }

dd.last { border-bottom-width: 0; }

pre { font-family: Consolas, Verdana, "Courier New"; font-size: 11px; padding: 10px 30px; }



abbr, acronym { text-decoration: none; border-bottom: 1px dotted #aaaaaa; cursor: help; }

em { font-style: italic; }

strong { font-weight: bold; }

ins { color: #999999; text-decoration: none; padding-left: 0px; background: transparent url(/instawatch/src/assets/img/information.png) center left no-repeat; }

del { text-decoration: line-through; } 

blockquote { text-align: right; }

blockquote p { text-align: left; }

blockquote cite { font-style: normal; padding-right: 0px; }

/* Structure */




#navigation
{
	float: left;
	width: 100%; 
	clear: both;
	color: var(--color);
	border-bottom: 5px solid #222222;
	background: #eeeeee url(/instawatch/src/assets/img/navigation_bg.gif) top left repeat; 
}

button{
	width: 150px;
	margin-top: 5px;
    margin-bottom: 10px;
	background-color: var(--color);
	color: white;
    margin-left: 1000px;
}

#content
{
	
margin: 0 auto;
width: 1200px;
/* padding: 0 0px; */
}


#sidebar-wrapper
{
	width: 40%;
	float: left;
	

}




/* Header */

#header h1 {
	 padding: 20px;
	 color: white;
 }

/* Navigation */

#navigation ul { float: left; list-style-type: none; margin: 0; padding: 0; background: none; border-width: 0; }

#navigation li { float: left; }

#navigation a
{
	float: left;
	display: block;
	padding: 5px 0px; 
}

#navigation a:link,
#navigation a:visited
{
	color: #002244; 
	font-weight: bold; 
	text-transform: uppercase; 
}

#navigation a:hover,
#navigation a:active
{
	color: #7799bb;
	background: #333333 url(/instawatch/src/assets/img/navigation_hover.gif) top left repeat;
}


body#babout li#labout a
{
	color: #99bbdd;
	background: #333333 url(/instawatch/src/assets/img/navigation_hover.gif) 0 -2px repeat;
}

/* Sidebar */

#sidebar p
{
	color: #999999;
	margin: 10px 35px; 
	padding: 5px 0px; 
	line-height: 1.6em;
	border: 1px solid #1a1a1a;
	border-top: 10px solid #151515;
	background: #404040 url(/instawatch/src/assets/img/navigation_hover.gif) top left repeat;
}



