<body>

    <div class="container">
        <div class="container">
            <header>
                <div class="header-title">

                    <h1>INSTAWATCH</h1>
                    <h3>"Los grandes amantes de los relojes desean compartir su pasión”</h3>
                    <div class="logo">
                        <img src="../../../../img/logo.jpg" alt="">
                    </div>
                </div>
                <div class="nav-bar">
                    <ul>
                        <li class="nav-item px-1">
                            <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Inicio</a>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link" [routerLink]="['/miperfil']" routerLinkActive="active">Mi perfil</a>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link" [routerLink]="['/buscar']" routerLinkActive="active">Buscar</a>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link" [routerLink]="['/foro']" routerLinkActive="active">Foro</a>
                        </li>
                    </ul>
                </div>
            </header>
        </div>
        <main>
            <section class="carrusel">
                <article class="show1"></article>
                <article class="show2"></article>
                <article class="show3"></article>
                <article class="show4"></article>

            </section>
            <section class="news">
                <article class="one">
                    <div class="press-one">
                        <h4>TÍTULO DE LA NOTICIA 1</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In possimus repellat blanditiis eius
                            provident rerum qui optio molestiae perspiciatis tempore nam neque fuga quae, ducimus quas,
                            officiis reiciendis, beatae alias magnam! Doloribus iusto nihil inventore quos beatae autem
                            vel atque!</p>

                    </div>


                </article>
                <article class="two">
                    <div class="press-two">
                        <h4>TÍTULO DE LA NOTICIA 2</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In possimus repellat blanditiis eius
                            provident rerum qui optio molestiae perspiciatis tempore nam neque fuga quae, ducimus quas,
                            officiis reiciendis, beatae alias magnam! Doloribus iusto nihil inventore quos beatae autem
                            vel atque!</p>

                    </div>


                </article>


            </section>

        </main>
        <footer>
            <div class="footer">
                <ul>
                    <li class="list-inline-item">
                        <a class="reset-anchor" href="#"><i class="fab fa-youtube"></i>About Us</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="reset-anchor" href="#"><i class="fab fa-youtube"></i>Contacto</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="reset-anchor" href="#"><i class="fab fa-youtube"></i>Telefono</a>
                    </li>
                </ul>
            </div>
            <div class="subscribete"><a class="reset-anchor" href="#"><i class="fab fa-youtube"></i>¡Suscríbete para mas
                    noticias y novedades! Suscribe</a></div>
        </footer>
    </div>
</body>