<main>
    <section class="carrusel">
        <article class="show1"></article>
        <article class="show2"></article>
        <article class="show3"></article>
        <article class="show4"></article>

    </section>
    <section class="news">
        <article class="one">
            <div class="press-one">
                <h4>TÍTULO DE LA NOTICIA 1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In possimus repellat blanditiis eius
                    provident rerum qui optio molestiae perspiciatis tempore nam neque fuga quae, ducimus quas,
                    officiis reiciendis, beatae alias magnam! Doloribus iusto nihil inventore quos beatae autem
                    vel atque!</p>

            </div>


        </article>
        <article class="two">
            <div class="press-two">
                <h4>TÍTULO DE LA NOTICIA 2</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In possimus repellat blanditiis eius
                    provident rerum qui optio molestiae perspiciatis tempore nam neque fuga quae, ducimus quas,
                    officiis reiciendis, beatae alias magnam! Doloribus iusto nihil inventore quos beatae autem
                    vel atque!</p>

            </div>


        </article>


    </section>

</main>