<div class="profile">
    <div class="all-data row">
        <div class="col-4"><img src="{{usuario?.imagen}}" alt="">
            <div>
                <button><a [routerLink]="['/perfil/edit']" routerLinkActive="active">Editar mi perfil</a></button>

                <button><a [routerLink]="['/perfil/collection']" routerLinkActive="active">Ver mi
                        colección</a></button>

                <button><a [routerLink]="['/perfil/newwatch']" routerLinkActive="active">Añadir
                        reloj</a></button>

            </div>
        </div>
        <div class="data row col-8">
            <div class="col-4">
                <label class="form-label">Nombre:</label>
                <p>{{usuario?.nombre}}</p>
            </div>
            <div class="col-4">
                <label class="form-label">Apellidos:</label>
                <p>{{usuario?.apellidos}}</p>
            </div>
            <div class="col-4">
                <label class="form-label">Dirección:</label>
                <p>{{usuario?.direccion}}</p>
            </div>
            <div class="col-4">
                <label class="form-label">Sexo:</label>
                <p>{{usuario?.sexo}}</p>
            </div>
            <div class="col-4">
                <label class="form-label">Fecha de nacimiento:</label>
                <p>{{usuario?.fecha_nacimiento}}</p>
            </div>
            <div class="col-4">
                <label class="form-label">Email:</label>
                <p>{{usuario?.email}}</p>
            </div>
        </div>
    </div>

</div>