<div class="profile">
    <div class="all-data row">
        <div class="col-4"><img
                src="https://www.researchgate.net/publication/340868577/figure/fig1/AS:883507039580169@1587655901877/Figura-2-Imagen-del-querido-y-excentrico-Gonzo-de-los-Muppets.ppm"
                alt="">
            <div>
                <button><a [routerLink]="['/perfil/newwatch']" routerLinkActive="active">Editar mi perfil</a></button>

                <button><a [routerLink]="['/perfil/newwatch']" routerLinkActive="active">Ver mi
                        colección</a></button>

                <button><a [routerLink]="['/perfil/newwatch']" routerLinkActive="active">Añadir
                        reloj</a></button>

            </div>
        </div>
        <div class="data row col-8">
            <div class="col-4">
                <label class="form-label">Nombre:</label>
                <p>Gonzo</p>
            </div>
            <div class="col-4">
                <label class="form-label">Apellidos:</label>
                <p>Teleñeco</p>
            </div>
            <div class="col-4">
                <label class="form-label">Dirección:</label>
                <p>Dirección del pájaro</p>
            </div>
            <div class="col-4">
                <label class="form-label">Sexo:</label>
                <p>No definido</p>
            </div>
            <div class="col-4">
                <label class="form-label">Fecha de nacimiento:</label>
                <p>XX/XX/XXXX</p>
            </div>
            <div class="col-4">
                <label class="form-label">Email:</label>
                <p>gonzo@gonzo.com</p>
            </div>
        </div>
    </div>

</div>