<div id="wrapper">
    <div id="content-wrapper">
        <div id="content">
            <h3>Estás en la sección respuestas.</h3>
            <dl>
                <article>
                    <h4>{{post?.titulo}}</h4>
                    <span>{{post?.descripcion}}</span>
                    <hr>
                    <div class="respuestas" *ngFor="let respuesta of post?.respuestas">
                        <h4>{{respuesta.titulo}}</h4>
                        <span>{{respuesta.descripcion}}</span>
                    </div>
                    <hr>
                    <button>
                        <a [routerLink]="['/forum/formulario-respuesta', post?.id]" routerLinkActive="active">Responder
                            este
                            hilo</a>
                    </button>
                </article>
            </dl>
        </div>
    </div>
</div>