<div id="wrapper">
    <div id="content-wrapper">
        <div id="content">

            <h3>Estás en la sección respuestas.</h3>
            <dl>

                <article>
                    <a href="">
                        <h4>Título del hilo precedente</h4>
                    </a>
                    <span>Texto del hilo precedente. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam
                        molestiae ipsum at nulla libero ut asperiores excepturi eum eius aut corrupti earum obcaecati,
                        sint quisquam. Mollitia, nostrum eius? Obcaecati, illo?</span>
                    <hr>
                    <span>Quam
                        molestiae ipsum at nulla libero ut asperiores excepturi eum eius aut corrupti earum obcaecati,
                        sint quisquam. Mollitia, nostrum eius? Obcaecati, illo?</span>
                    <hr>
                    <div class="respuesta">
                        <button>
                            <a [routerLink]="['/forum/formulario']" routerLinkActive="active">Responder este
                                hilo</a>
                        </button>
                    </div>
                </article>
            </dl>
        </div>
    </div>
</div>