*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    --color:#011f4b;
}



/* INICIO HEADER */

.cabecera{
    margin-bottom: 10px;
}

.header-title{
margin-top: 20px;
border: 2px solid #011f4b ;
display: block;
font-size: 20px;
height: 160px;
color: white;
background-image: url(../assets/img/time.jpg);
background-size: cover;
background-position: center;
}
.header-title h3{
    padding-top: 30px;
    text-align: center;
    
    color: white;
    
}

.header-title h1{
    
    text-align: center;
    padding: 20px 0;
}

.nav-bar{
    
    margin-top: 10px;    
    color: white;
    background-color:#011f4b ;
    height: 50px;    
    align-items: center;
    
    
}
.nav-bar ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav-bar li{
    margin-top: 14px;
    

}
.nav-bar a{
    color: white;
}



/* FIN DEL HEADER */



/*INICIO FOOTER */



.footer{
    /* display: flex; */
    background-color: #011f4b;
    margin-bottom: 10px;
}
.footer ul{
    
    display: flex;
    justify-content: space-around;
    
}
.footer li{
    display: flex;
    justify-content: space-around;
    text-decoration: none;  
    padding: 20px;
    list-style: none;
}
.footer a {
    color: white;
    padding: 0px 70px;
    text-decoration: none;
    
    
    }
    .subscribe{
        display: flex;
     margin: 0 auto;
     color: tomato;
     
    
    }

/* .subscribete {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 80px;
    background-color: #011f4b;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 10px;


} */
/* .subscribete a{
    color: white;

} */

/* FIN DEL FOOTER */