<form [formGroup]="formulario" *ngIf="formulario" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label">Descripcion</label>
        <textarea name="" id="descripcion" formControlName="descripcion"></textarea>
        <p class="error" *ngIf="checkControl('descripcion', 'required')">
        </p>
    </div>
    <div class="mb-3">
        <label class="form-label"></label>
        <input type="hidden" class="form-control" formControlName="fk_post">
        <p class="error" *ngIf="checkControl('fk_post', 'required')">
            El campo id es requerido
        </p>
    </div>

    <button (submit)="onSubmit()" type="submit" class="" [disabled]="!formulario.valid">Responder tema</button>
</form>