<form class="row" [formGroup]="formulario">
    <div class="mb-2 col-4">
        <label class="form-label">Marca:</label>
        <input type="text" class="form-control" formControlName="watch_brand">
    </div>
    <div class="mb-2 col-4">
        <label class="form-label">Modelo:</label>
        <input type="text" class="form-control" formControlName="watch_model">
    </div>
    <div class="mb-2 col-4">
        <label class="form-label">Propietario:</label>
        <input type="text" class="form-control" formControlName="owner">
    </div>
    <div class="mb-2 col-4">
        <label class="form-label">Disponibilidad:</label>
        <input type="Text" class="form-control" formControlName="availability">
    </div>
    <div class="mb-2 col-4">
        <label class="form-label">Notas:</label>
        <input type="Text" class="form-control" formControlName="notes">
    </div>
    <div class="mb-2 col-4">
        <label class="form-label">Calibre:</label>
        <input type="text" class="form-control" formControlName="movement">
    </div>
    <div class="mb-2 col-4">
        <label class="form-label">Material:</label>
        <input type="text" class="form-control" formControlName="material">
    </div>
    <div class="mb-2 col-4">
        <label class="form-label">Color del dial:</label>
        <input type="text" class="form-control" formControlName="dial_color">
    </div>
    <div class="mb-2 col-4">
        <label class="form-label">Link de la imagen:</label>
        <input type="text" class="form-control" formControlName="imagen">
    </div>
    <button (click)="onClick(formulario)" type="submit" class="btn btn-info"
        [disabled]="!formulario.valid">Enviar</button>
</form>