<div id="wrapper">
    <div id="content-wrapper">
        <div id="content">
            <div class="next"><button><a [routerLink]="['/forum/formulario']" routerLinkActive="active">Publicar Nuevo
                        Hilo</a></button></div>
            <h3>Estás en la sección presentaciones, saluda aquí.</h3>
            <dl>
                <article *ngFor="let post of posts">
                    <a [routerLink]="['/forum/respuesta']" routerLinkActive="active">
                        <h4>{{post.titulo}}</h4>
                    </a>
                    <span>{{post.descripcion}}</span>
                </article>
            </dl>
        </div>
    </div>
</div>