<div>
    <h1>¡Bienvenid@s al Foro de InstaWatch!</h1>
</div>

<div id="wrapper">
    <div id="content-wrapper">
        <div id="content">
            <h3>Temas en InstaWatch...</h3>
            <dl>
                <article>
                    <a class="nav-link" [routerLink]="['/forum/presentaciones']" routerLinkActive="active">
                        <dt>¿Nuevo en InstaWatch?. Entra y saluda!!</dt>
                    </a>
                    <p>Presentate ante la comunidad antes de postear</p>
                </article>
                <hr>
                <article>
                    <a class="nav-link" [routerLink]="['/forum/dudillas']" routerLinkActive="active">
                        <dt>¿Preguntas, dudas, algún problema?
                        </dt>
                    </a>
                </article>

                <p>Comentalo aqui y entre todos solucionaremos tus
                    problemas.</p>
                <hr>
                <article>
                    <a class="nav-link" [routerLink]="['/forum/compraventa']" routerLinkActive="active">
                        <dt>Compra/Vende/Intercambia tus relojes</dt>
                    </a>
                    <dd>¿Quieres probar un reloj para una futura compra? ¿Quieres comprar o vender un reloj? Este es tu
                        sitio!
                    </dd>
                </article>
                <hr>
                <article>
                    <a class="nav-link" [routerLink]="['/forum/novedades']" routerLinkActive="active">
                        <dt>Novedades</dt>
                    </a>
                    <dd>Comenta aqui tus nuevas adquisiciones, nuevos relojes que salgan a la venta...</dd>
                </article>
            </dl>


        </div>
    </div>
    <div id="sidebar-wrapper">
        <div id="sidebar">
            <h3>Last Posts</h3>
            <ul>
                <a href="">
                    <li>Longines Legend Diver - Back to the 60's</li>
                </a>
                <a href="">
                    <li>Omega Speedmaster Moonwatch.</li>
                </a>
                <a href="">
                    <li>Seiko Cocktail - Japan Nights!!</li>
                </a>

            </ul>
            <h3>Hot Posts on InstaWatch!!</h3>
            <ol>
                <a href="">
                    <li>Omega Speedmaster Moonwatch.</li>
                </a>
                <a href="">

                    <li>Rolex Submariner - Date or no date?.</li>
                </a>
                <a href="">
                    <li>Seiko Cocktail - Japan Nights!!</li>
                </a>
                <a href="">
                    <li>Longines Legend Diver - Back to the 60's</li>
                </a>
                <a href="">
                    <li>Steinhart - Love it or hate it?</li>
                </a>

            </ol>

        </div>
    </div>
</div>