<div>
    <h1>¡Bienvenid@s al Foro de InstaWatch!</h1>
</div>

<div id="wrapper">
    <div id="content-wrapper">
        <div id="content">
            <h3>Temas en InstaWatch...</h3>
            <dl>
                <article>
                    <a class="nav-link" [routerLink]="['/forum/presentaciones']" routerLinkActive="active">
                        <dt>¿Nuevo en InstaWatch?. Entra y saluda!!</dt>
                    </a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus natus cupiditate
                        provident dicta
                        necessitatibus veniam ut animi eius, at voluptate?</p>
                </article>
                <hr>
                <article>
                    <a class="nav-link" [routerLink]="['/forum/dudillas']" routerLinkActive="active">
                        <dt>¿Preguntas, dudas, algún problema?. No nos importa en absoluto!! Mejor llama a
                            Juanan o a Mario...
                        </dt>
                    </a>
                </article>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit vitae ipsum quos ducimus
                    perspiciatis
                    recusandae.</p>
                <hr>
                <article>
                    <a class="nav-link" [routerLink]="['/forum/compraventa']" routerLinkActive="active">
                        <dt>Love is in the air...?. Háblanos de tu nuevo amor.</dt>
                    </a>
                    <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptatum in illo totam
                        numquam
                        molestiae.
                    </dd>
                </article>
                <hr>
                <article>
                    <a class="nav-link" [routerLink]="['/forum/novedades']" routerLinkActive="active">
                        <dt>Por otro lado... ya no sigues enamorado?. No hay problema, para eso están los
                            divorcios!!. Vende
                            aquí a tu Ex...</dt>
                    </a>
                    <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda illo autem delectus
                        laudantium
                        dicta
                        perspiciatis vel optio deserunt! Similique consectetur tempora libero.</dd>
                </article>
            </dl>


        </div>
    </div>
    <div id="sidebar-wrapper">
        <div id="sidebar">
            <h3>Last Posts</h3>
            <ul>
                <a href="">
                    <li>Longines Legend Diver - Back to the 60's</li>
                </a>
                <a href="">
                    <li>Omega Speedmaster Moonwatch.</li>
                </a>
                <a href="">
                    <li>Seiko Cocktail - Japan Nights!!</li>
                </a>

            </ul>
            <h3>Hot Posts on InstaWatch!!</h3>
            <ol>
                <a href="">
                    <li>Omega Speedmaster Moonwatch.</li>
                </a>
                <a href="">

                    <li>Rolex Submariner - Date or no date?.</li>
                </a>
                <a href="">
                    <li>Seiko Cocktail - Japan Nights!!</li>
                </a>
                <a href="">
                    <li>Longines Legend Diver - Back to the 60's</li>
                </a>
                <a href="">
                    <li>Steinhart - Love it or hate it?</li>
                </a>

            </ol>

        </div>
    </div>
</div>