<div class="container">


    <body id="babout">
        <div id="header">
            <h1>¡Bienvenid@s al Foro de InstaWatch!</h1>
        </div>
        <!-- <div id="navigation">
            <ul>
                <li id="labout"><a href="#04">Inicio</a></li>
                <li id="lhome"><a href="#00">Acerca de</a></li>

                <li id="contact"><a href="#05">Contáctanos</a></li>
                <li id="login"><a href="#03">Login</a></li>
            </ul>
        </div> -->
        <div id="wrapper">
            <div id="content-wrapper">
                <div id="content">
                    <h3>Temas en InstaWatch...</h3>
                    <dl>
                        <article>
                            <a href="">
                                <dt>¿Nuevo en InstaWatch?. Entra y saluda!!</dt>
                            </a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus natus cupiditate
                                provident dicta
                                necessitatibus veniam ut animi eius, at voluptate?</p>
                        </article>
                        <hr>
                        <article>
                            <a href="">
                                <dt>¿Preguntas, dudas, algún problema?. No nos importa en absoluto!! Mejor llama a
                                    Juanan o a Mario...
                                </dt>
                            </a>
                        </article>

                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit vitae ipsum quos ducimus
                            perspiciatis
                            recusandae.</p>
                        <hr>
                        <article>
                            <a href="">
                                <dt>Love is in the air...?. Háblanos de tu nuevo amor.</dt>
                            </a>
                            <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptatum in illo totam
                                numquam
                                molestiae.
                            </dd>
                        </article>
                        <hr>
                        <article>
                            <a href="">
                                <dt>Por otro lado... ya no sigues enamorado?. No hay problema, para eso están los
                                    divorcios!!. Vende
                                    aquí a tu Ex...</dt>
                            </a>
                            <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda illo autem delectus
                                laudantium
                                dicta
                                perspiciatis vel optio deserunt! Similique consectetur tempora libero.</dd>
                        </article>
                        <hr>
                        <article>
                            <a href="">
                                <dt>Stay tuned...</dt>
                            </a>
                            <dd class="last">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis,
                                aperiam?</dd>
                        </article>
                    </dl>

                    <!-- <pre>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, unde.</pre> -->
                </div>
            </div>
            <div id="sidebar-wrapper">
                <div id="sidebar">
                    <h3>Last Posts</h3>
                    <ul>
                        <a href="">
                            <li>Longines Legend Diver - Back to the 60's</li>
                        </a>
                        <a href="">
                            <li>Omega Speedmaster Moonwatch.</li>
                        </a>
                        <a href="">
                            <li>Seiko Cocktail - Japan Nights!!</li>
                        </a>

                    </ul>
                    <h3>Hot Posts on InstaWatch!!</h3>
                    <ol>
                        <a href="">
                            <li>Omega Speedmaster Moonwatch.</li>
                        </a>
                        <a href="">

                            <li>Rolex Submariner - Date or no date?.</li>
                        </a>
                        <a href="">
                            <li>Seiko Cocktail - Japan Nights!!</li>
                        </a>
                        <a href="">
                            <li>Longines Legend Diver - Back to the 60's</li>
                        </a>
                        <a href="">
                            <li>Steinhart - Love it or hate it?</li>
                        </a>

                    </ol>
                    <!-- <h3>More...</h3>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum vero itaque id! Modi ducimus
                        fugit expedita
                        exercitationem </p> -->
                </div>
            </div>
        </div>
        <!-- <div id="footer">
            <p>Copyright &copy; InstaWatch All rights reserved. </p>
            <p> Design by <a href="#" title="">Andrés Macintosh & Luis Watchman</a>
            <p> <a href="#">Terms of Service</a> | <a href="#">Privacy</a> | <a href="#">Contact</a> | <a
                    href="#">About</a>

            </p>
        </div> -->
    </body>
</div>