/* estilos  */

/* estilos generales */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin: 0 auto;
    --color:#011f4b;
    color: var(--color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    width: 100%;
    margin: 10px 0 !important;
    border: 1px solid var(--color) ;
    
}
h1{
    margin: 30px 30px;
}

a{
    text-decoration: none;
    font-size: 20px;
}
i{
    font-size: 20px;
}
.redes-s {
    margin-top: 140px;
    margin-left: -15px;
}




.contenido{
    
    width: 100%;
    margin-left: 70px;
}
.contenido a{
    margin-left: 20px;
}
.contenido .col{
    padding: 5px 0px;
}

.contenido .info,
.contenido .formulario{
    width: 50%;
}

/* ===========================================
Estilos info
============================================== */
.info{
    padding-left: 10px;
}

.info .col{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    font-size: 16px;
    align-items: center;
    flex-wrap: nowrap;
}

.info .col .icono{
    color: #15CF8A;
    margin-right: 10px;
}

.info .col p{
    color: #999;
}


/* ===========================================
Estilos formulario
============================================== */

.formulario{
    margin-top: 20px;
    padding-right: 20px;
}

.formulario input[type='text'],
.formulario textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 20px;
    border: 1px solid var(--color);
    border-radius: 0.25rem;
    color: var(--color);
    
}

.formulario textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 200px;
    
}


.formulario input[type='text']:focus,
.formulario textarea:focus{
    border-radius: 10px;
    border: 5px solid skyblue;
}
input{
    
    border-radius: .25rem;
}

button{
  width: 240px;
  color: white;
  background-color: var(--color);
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 400px;
}


