/* estilos  */

/* estilos generales */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin: 0 auto;
    --color:#011f4b;
    color: var(--color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    width: 100%;
    margin: 10px 0 !important;
    border: 1px solid var(--color) ;
    
}
h1{
    margin: 30px 30px;
}

a{
    text-decoration: none;
}




.contenido{
    /* display: flex; */
    width: 100%;
    margin-left: 70px;
    
    /* overflow: hidden;
    flex-wrap: wrap; */
    
}
.contenido a{
    margin-left: 20px;
}
.contenido .col{
    padding: 5px 0px;
}

.contenido .info,
.contenido .formulario{
    width: 50%;
}

/* ===========================================
Estilos info
============================================== */
.info{
    padding-left: 10px;
}

.info .col{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    font-size: 16px;
    align-items: center;
    flex-wrap: nowrap;
}

.info .col .icono{
    color: #15CF8A;
    margin-right: 10px;
}

.info .col p{
    color: #999;
}


/* ===========================================
Estilos formulario
============================================== */

.formulario{
    padding-left: 10px;
}

.formulario input[type='text'],
.formulario textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 20px;
    border: 1px solid #999;
    color: #999;
    /* font-family: 'Open Sans',sans-serif; */
    font-weight: 400;
    outline: 0;
}

.formulario textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 200px;
}

.formulario input[type='text']:focus,
.formulario textarea:focus{
    border: 1px solid #15CF8A;
}

button{
  width: 240px;
  color: white;
  background-color: var(--color);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 350px;
}
/* button:disabled{
  width: 240px;
  color: white;
  background-color:grey;
  margin-top: 20px;
  margin-bottom: 20px;  
} */

