<div class="container row">

    <!-- =========
    LINK FONT-AWESOME
     =========== -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <div class="col-5">

        <h1>Contacto</h1>


        <div class="contenido">

            <div class="infos">

                <div class="col">
                    <i class="icono fas fa-map-marker-alt"></i>
                    <a href="https://www.google.es/maps/preview" target="_blank">Gran via 45</a>
                </div>

                <div class="col">
                    <i class="icono fas fa-envelope"></i>
                    <a href="mailto:instawatch@instawatch.com">instawatch@instawatch.com</a>
                </div>

                <div class="col">
                    <i class="icono fas fa-phone"></i>
                    <a href="tel:+34678567876">665455577
                    </a>
                </div>

                <div class="redes-s">

                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>

                </div>

            </div>
        </div>
    </div>




</div>