<div id="wrapper">
    <div id="content-wrapper">
        <div id="content">
            <div class="next"><button>Publicar Nuevo Hilo</button></div>
            <h3>Estás en la sección del amor, háblanos de tu nuevo reloj.</h3>
            <dl>
                <article>
                    <a href="">

                        <h4>Hola me llamo Poxolo y os presento mi nuevo reloj</h4>
                    </a>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut placeat praesentium consequatur
                        est vero tempore laboriosam omnis odit sed.</span>


                </article>
                <hr>
                <article>
                    <a href="">

                        <h4>Hola, yo no me llamo Poxolo pero me gusta este reloj, ¿qué opináis?</h4>
                    </a>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut placeat praesentium .</span>


                </article>
                <hr>
                <article>
                    <a href="">

                        <h4>Hola, yo tampoco me llamo Poxolo</h4>
                    </a>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut .</span>


                </article>
                <hr>
            </dl>



        </div>
    </div>

</div>