/* INICIO MAIN */




.press-one{
    
    background: url("../../../assets/img/watches2.jpg") no-repeat center center/cover;
    margin-top: 20px;
    border: 2px solid black;
    height: 300px;
    /* margin-left: 150px; */
    
}
.press-one h4{
    font-size: 30px;
    color: white;
    padding: 20px;
}
.press-one p{
    font-size: 20px;
    color: white;
    padding: 30px;
    padding-right: 500px;
    
}

.two{
    
    /* display: flex; */
    justify-content: space-around;
    align-content: center;
    
}
.press-two{
    
    background: url("../../../assets/img/watches1.jpg") no-repeat center center/cover;
    margin-top: 20px;
    border: 2px solid black;
    height: 300px;
    margin-bottom: 20px;
    /* margin-right: 150px; */

}
.press-two h4{
    font-size: 30px;
    color: white;
    text-align: right;
    padding-left: 100px;
    padding: 10px;
}

.press-two p{
    font-size: 20px;
    color: white;
    padding: 30px;
    padding-left: 400px;
    text-align: right;
}


/* FIN DEL MAIN */