<main>
    <section class="news">
        <article class="one">
            <a href="https://watch-test.com/breguet/breguet-type-xxi-3815-un-cronografo-flyback-bi-compax/">
                <div class="press-one">
                    <h4>Breguet Type XXI 3815. Un cronógrafo flyback bi-compax</h4>
                    <p>Breguet presenta el nuevo Type XXI 3815, un cronógrafo con función flyback y caja de titanio que
                        promete convertirse en
                        la estrella de esta colección.</p>

                </div>
            </a>


        </article>
        <article class="two">
            <a href="https://watch-test.com/oris/oris-aquis-date-cal-400-415-mm/">
                <div class="press-two">
                    <h4>Oris Aquis Date Cal. 400 41,5 mm</h4>
                    <p>En los nuevos Aquis Date Calibre 400, el reloj de buceo de Oris reúne su movimiento manufactura
                        con
                        el tamaño de caja
                        ideal.</p>

                </div>
            </a>


        </article>


    </section>

</main>