/* INICIO MAIN */


*{
    --color: #011f4b;
}

h2{
    font-size: 40px;
    color: var(--color);
}
.press-one{
    
    background: url("https://hodinkee.imgix.net/uploads/images/afe4930f-130d-4d9f-82b0-d16a3a78b174/breguet06-16-20218280.jpg?ixlib=rails-1.1.0&fm=jpg&q=55&auto=format&usm=12&ch=Width%2CDPR%2CSave-Data&fit=crop&w=820&dpr=2") left;
    margin-top: 20px;
    border: 2px solid black;
    height: 300px;
    /* margin-left: 150px; */
    
}
.press-one h4{
    font-size: 30px;
    color: white;
    padding: 20px;
}
.press-one p{
    font-size: 20px;
    color: white;
    padding: 30px;
    padding-right: 500px;
    
}

.two{
    
    /* display: flex; */
    justify-content: space-around;
    align-content: center;
    
}
.press-two{
    
    background: url("https://hodinkee.imgix.net/uploads/images/1603894788943-b9xvvtm400s-7857f00cebe762848a8dbd21688a6850/Oris-Aquis-400-in-house-18.jpg?ixlib=rails-1.1.0&fm=jpg&q=55&auto=format&usm=12&ch=Width%2CDPR%2CSave-Data&fit=crop&w=820&dpr=2") right;
    margin-top: 20px;
    border: 2px solid black;
    height: 300px;
    margin-bottom: 20px;
    /* margin-right: 150px; */

}
.press-two h4{
    font-size: 30px;
    color: white;
    text-align: right;
    padding-left: 100px;
    padding: 10px;
}

.press-two p{
    font-size: 20px;
    color: white;
    padding: 30px;
    padding-left: 400px;
    text-align: right;
}

a{
    text-decoration: none;
}

/* FIN DEL MAIN */