<form class="row" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="col-4">
        <label class="form-label">Nombre:</label>
        <input type="text" class="form-control" formControlName="nombre">
        <p class="error" *ngIf="checkControl('nombre', 'required')">
            El campo nombre es requerido
        </p>
        <p class="error" *ngIf="checkControl('nombre', 'minlength')">
            El tamaño del nombre debe ser mínimo 3 caracteres
        </p>
    </div>
    <div class="col-4">
        <label class="form-label">Apellidos:</label>
        <input type="text" class="form-control" formControlName="apellidos">
        <p class="error" *ngIf="checkControl('apellidos', 'required')">
            El campo apellidos es requerido
        </p>
        <p class="error" *ngIf="checkControl('apellidos', 'maxlength')">
            El tamaño del apellido debe ser como máximo 10
        </p>
    </div>
    <div class="col-4">
        <label class="form-label">Dirección:</label>
        <input type="text" class="form-control" formControlName="direccion">
    </div>

    <div class="col-4">
        <label class="form-label">Fecha de nacimiento:</label>
        <input type="Date" class="form-control" formControlName="fecha_nacimiento">
    </div>
    <div class="col-4">
        <label class="form-label">Email:</label>
        <input type="text" class="form-control" formControlName="email">
    </div>
    <div id="sex" class="col-4">
        <label class="form-label">Sexo:</label>
        <select formControlName="sexo">
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
        </select>
    </div>
    <div class="col-12">
        <label class="form-label">Imagen</label>
        <input type="text" class="form-control" formControlName="imagen">
    </div>
    <button (submit)="onSubmit()" type="submit" class="" [disabled]="!formulario.valid">Enviar</button>
</form>