*{
    margin: 0 auto;
    --color:#011f4b;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
form{
  width: 100%;
  border: 1px solid var(--color);
  margin-bottom: 20px;
  margin-top: 20px; 

}


button{
  width: 240px;
  color: white;
  background-color: var(--color);
  margin-top: 20px;
  margin-bottom: 20px;
    
    
}

button:disabled{
  width: 240px;
  color: white;
  background-color:grey;
  margin-top: 20px;
  margin-bottom: 20px;
    
    
}
#sex{
  padding-left: 80px;
  margin-top: 40px;
  

}
#sex label{
  padding-right: 20px;
}
label{
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
  color: var(--color);
}

